p {
	font-family: font-family: Futura,Trebuchet MS,Arial,sans-serif; 
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
h1 {
	font-family: font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    text-align: center;
}
