body {
    background-color: darkgray; 
}

h1 {
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    text-align: center;
    color: #B31B1B;
}

p {
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
	color: white;
}
